<div class="container">
  <h1>Restaurants</h1>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
          <div class="d-flex">
            <% restaurant.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        </div>
        <!-- Take the id out of the instance and builds the path with it -->
        <%= link_to '', restaurant_path(restaurant), class: "card-product-link"  %>
      </div>
    <% end %>
  </div>
</div>
